.container {
    max-width: 960px;
}

.btn-tm{
    background-color: #FF7920;
    color: #FFFF;
}

.btn-tm:hover{
    background-color: #FFBE00;
    color: #FFFF;
}

/* estilos jose segura */

.image-transition {
    transition: opacity 0.5s ease-in-out;
}

.image-transition.next {
    opacity: 0;
}


#divmenuDesp:hover {
    background-color: #f5f5f5;
}



/*  estilos para las tablas de registro , vendeores, productos etc*/

        body {
            color: #566787;
            background: #f5f5f5;
            font-family: 'Roboto', sans-serif;
        }
        .table-responsive {
            margin: 30px 0;
        }
        .table-wrapper {
            min-width: 1000px;
            background: #fff;
            padding: 20px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title {
            font-size: 15px;
            padding-bottom: 10px;
            margin: 0 0 10px;
            min-height: 45px;
        }
        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }
        .table-title select {
            border-color: #ddd;
            border-width: 0 0 1px 0;
            padding: 3px 10px 3px 5px;
            margin: 0 5px;
        }
        .table-title .show-entries {
            margin-top: 7px;
        }
        .search-box {
            position: relative;
            float: right;
        }
        .search-box .input-group {
            min-width: 200px;
            position: absolute;
            right: 0;
        }
        .search-box .input-group-addon, .search-box input {
            border-color: #ddd;
            border-radius: 0;
        }
        .search-box .input-group-addon {
            border: none;
            border: none;
            background: transparent;
            position: absolute;
            z-index: 9;
        }
        .search-box input {
            height: 34px;
            padding-left: 28px;
            box-shadow: none !important;
            border-width: 0 0 1px 0;
        }
        .search-box input:focus {
            border-color: #3FBAE4;
        }
        .search-box i {
            color: #a0a5b1;
            font-size: 19px;
            position: relative;
            top: 8px;
        }
        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }
        table.table td:last-child {
            width: 130px;
        }
        table.table td a {
            color: #a0a5b1;
            display: inline-block;
            margin: 0 5px;
        }
        table.table td a.view {
            color: #03A9F4;
        }
        table.table td a.edit {
            color: #FFC107;
        }
        table.table td a.delete {
            color: #E34724;
        }
        table.table td i {
            font-size: 19px;
        }
        .pagination {
            float: right;
            margin: 0 0 5px;
        }
        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            padding: 0 10px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 30px !important;
            text-align: center;
        }
        .pagination li a:hover {
            color: #666;
        }
        .pagination li.active a {
            background: #03A9F4;
        }
        .pagination li.active a:hover {
            background: #0397d6;
        }
        .pagination li.disabled i {
            color: #ccc;
        }
        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }
        .hint-text {
            float: left;
            margin-top: 10px;
            font-size: 13px;
        }


        .backdrop {
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con opacidad del 50% */
          }

/*  seccion contry Box temporal para pruebas de pais   */     


/*###################### seccion spiner ######################*/

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 35px;
  }
  
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #312c2c;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    background: gray; /* Cambia el color a naranja */
    animation: lds-ellipsis1 0.6s infinite;
  }
  
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    background: gray; /* Cambia el color a rosa mexicano */
    animation: lds-ellipsis2 0.6s infinite;
  }
  
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    background: gray; /* Cambia el color a amarillo */
    animation: lds-ellipsis2 0.6s infinite;
  }
  
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    background: gray; /* Restaura el color blanco para el cuarto punto */
    animation: lds-ellipsis3 0.6s infinite;
  }
  
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


  /* ###############[ seccion de parpadeo]#######################*/

  .parpadea {
    animation-name: parpadeo;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

/*###################[ custom switch 3 toggle]#################### */

.custom-switch {
    display: inline-flex;
   /* border: 1px solid #ccc;*/
   /* border-radius: 20px;*/
    overflow: hidden;
    height: 25px;
    /*background-color: rgba(219, 201, 201, 0.237);*/
}

.custom-switch input[type="radio"] {
    display: none;
}

.custom-switch label {
    padding: 5px 15px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.custom-switch input[type="radio"]:checked + label[for^="rechazado"] {
   /* background-color: red; /* Cambiar el color a rojo para la opción R */
    color: #ff5b5c; /* Cambiar el color del texto a blanco */
}

.custom-switch input[type="radio"]:checked + label[for^="curso"] {
    /*background-color: yellow; /* Cambiar el color a amarillo para la opción E */
    color: #fdac41;; /* Cambiar el color del texto a negro */
}

.custom-switch input[type="radio"]:checked + label[for^="aceptado"] {
   /* background-color: green; /* Cambiar el color a verde para la opción A */
    color: #10b981; /* Cambiar el color del texto a blanco */
}